Bonjour {{recipient.firstname}} {{recipient.lastname}}

Il y a deux semaine, {{owner.firstname}} {{owner.lastname}} s’est inscrit.e sur la plateforme P2E et a effectué une demande de visite pour une maison à {{address.city}} – {{address.zipcode}}. Sa demande n'a pas encore reçu de réponse. Un rappel a déjà été envoyé 5 aux passeporteurs les plus proches il y a une semaine.

Pouvez-vous vérifier que tout est en ordre depuis la page de suivi des demandes de visite ({{leadsLink}}) ou auprès des Passeporteurs notifiés:

** Prénom | Nom | Entreprise | E-mail | Téléphone **
{% for auditor in auditors %}
{{ auditor.firstname }} | {{ auditor.lastname }} | {{ auditor.company }} | {{ auditor.email }} | {{ auditor.phone }}
{% endfor %}

A bientôt,
L’équipe P2E

--
Le Passeport Efficacité Energétique est un dispositif mis en place par l’association Expérience P2E pour accompagner les particuliers dans la définition de leur projet de rénovation énergétique à l’aide d’une feuille de route de travaux.
Ce message électronique est généré automatiquement, merci de ne pas y répondre. Pour toute question, utilisez l’adresse contact@passeport-efficacite-energetique.org

Expérience P2E, association de loi 1901 – 16-18 rue de Budapest, 75009 Paris – https://www.experience-p2e.org