Bonjour {{firstname}} {{lastname}}

Vous venez de créer un compte sur l’application Passeport Efficacité Energétique, P2E de son petit nom. Afin d’activer ce compte, suivez ce lien : {{activationLink}}

Au sein de votre espace, vous pourrez ensuite demander la visite d’un.e Passeporteur expert.e de la rénovation en cliquant sur le bouton « Réaliser mon Passeport ».

Le Passeporteur, vous contactera alors sous quelques semaines, pour organiser une visite de votre maison. Cette visite lui permettra de déterminer le potentiel de rénovation de votre maison et d’en apprendre plus sur vos projets. Il se servira de l’application Passeport Efficacité Energétique pour élaborer avec vous la Feuille de route de travaux qu’il vous remettra suite à sa visite.

Pour en savoir plus sur la rénovation de votre maison et la démarche Passeport, rendez-vous sur https://www.passeport-efficacite-energetique.fr


A bientôt,
L’équipe P2E

--
Le Passeport Efficacité Energétique est un dispositif mis en place par l’association Expérience P2E pour accompagner les particuliers dans la définition de leur projet de rénovation énergétique à l’aide d’une feuille de route de travaux.
Ce message électronique est généré automatiquement, merci de ne pas y répondre. Pour toute question, utilisez l’adresse contact@passeport-efficacite-energetique.org

Expérience P2E, association de loi 1901 – 16-18 rue de Budapest, 75009 Paris – https://www.experience-p2e.org