Bonjour {{firstname}} {{lastname}}

Vous avez échangé avec {{sender.firstname}} {{sender.lastname}}{% if sender.company is not empty %}, {{sender.company}}{% endif %} afin d’obtenir des conseils sur la rénovation énergétique de votre maison.
Avant de procéder à une visite, {{sender.firstname}} {{sender.lastname}} a besoin que vous activiez votre compte sur l’application Passeport Efficacité Energétique. Pour cela, merci de suivre ce lien : {{activationLink}}
Cette application servira à établir la Feuille de route de rénovation de votre maison au cours de la visite.

{{sender.firstname}} {{sender.lastname}} organisera avec vous une visite de votre logement. Cette visite lui permettra de déterminer le potentiel de rénovation de votre maison, et d’en apprendre plus sur vos projets. Il se servira de l’application Passeport Efficacité Energétique pour élaborer avec vous la Feuille de route de travaux qu’il vous remettra suite à sa visite.

En cas de question, vous pouvez recontacter {{sender.firstname}} {{sender.lastname}}{% if sender.company is not empty %}, {{sender.company}}{% endif %} au {{sender.phone}} ou via {{sender.email}}.

Si vous ne connaissez pas {{sender.firstname}} {{sender.lastname}}{% if sender.company is not empty %}, {{sender.company}}{% endif %} et ne souhaitez pas obtenir de conseil sur la rénovation énergétique de votre maison, merci de nous le signaler à l’adresse contact@passeport-efficacite-energetique.org

Pour en savoir plus sur la rénovation de votre maison et la démarche Passeport, rendez-vous sur https://www.passeport-efficacite-energetique.fr


A bientôt,
L’équipe P2E

--
Le Passeport Efficacité Energétique est un dispositif mis en place par l’association Expérience P2E pour accompagner les particuliers dans la définition de leur projet de rénovation énergétique à l’aide d’une feuille de route de travaux.
Ce message électronique est généré automatiquement, merci de ne pas y répondre. Pour toute question, utilisez l’adresse contact@passeport-efficacite-energetique.org

Expérience P2E, association de loi 1901 – 16-18 rue de Budapest, 75009 Paris – https://www.experience-p2e.org