Bonjour {{owner.firstname}} {{owner.lastname}}

Lors de la visite de votre maison, vous avez conçu avec {{auditor.firstname}} {{auditor.lastname}} un projet de travaux rénovation de votre maison. Bravo pour ce premier pas !

Votre feuille de route de travaux, en pièce jointe de ce mail, résume les grandes étapes de votre projet et les performances à atteindre sur chaque type de travaux pour obtenir des aides financières et amener votre maison à un niveau Basse Consommation.
Elle vous servira pour les étapes suivantes de votre projet et la communication avec les artisans.

Vous pouvez également retrouver cette feuille de route dans l’onglet Mon profil ({{profilLink}}) de votre espace personnel.
Un guide est disponible en pièce jointe ou en ligne pour vous aider à lire la feuille de route et à vous orienter dans votre projet de renovation.


A bientôt,
L’équipe P2E

--
Le Passeport Efficacité Energétique est un dispositif mis en place par l’association Expérience P2E pour accompagner les particuliers dans la définition de leur projet de rénovation énergétique à l’aide d’une feuille de route de travaux.
Ce message électronique est généré automatiquement, merci de ne pas y répondre. Pour toute question, utilisez l’adresse contact@passeport-efficacite-energetique.org

Expérience P2E, association de loi 1901 – 16-18 rue de Budapest, 75009 Paris – https://www.experience-p2e.org