Bonjour {{auditor.firstname}} {{auditor.lastname}}

Il y a une semaine, {{owner.firstname}} {{owner.lastname}} s’est inscrit.e sur la plateforme P2E et a effectué une demande de visite pour une maison à {{address.city}} – {{address.zipcode}}, à moins de {{auditor.max_dist}} de votre implantation. Sa demande n'a pas encore reçu de réponse.

Pour accompagner {{owner.firstname}} {{owner.lastname}} dans son projet de rénovation énergétique, attribuez-vous le dossier à l’aide du bouton d'assignation (avion au décollage) dans l’onglet "Demandes de visites" de votre espace: {{leadsLink}}
Vous pourrez ainsi obtenir ses coordonnées et prendre rendez-vous pour une visite.


A bientôt,
L’équipe P2E

--
Le Passeport Efficacité Energétique est un dispositif mis en place par l’association Expérience P2E pour accompagner les particuliers dans la définition de leur projet de rénovation énergétique à l’aide d’une feuille de route de travaux.
Ce message électronique est généré automatiquement, merci de ne pas y répondre. Pour toute question, utilisez l’adresse contact@passeport-efficacite-energetique.org

Expérience P2E, association de loi 1901 – 16-18 rue de Budapest, 75009 Paris – https://www.experience-p2e.org