Bonjour {{owner.firstname}} {{owner.lastname}}

Le <i>Passeporteur</i> expert en rénovation énergétique {{auditor.firstname}} {{auditor.lastname}}{% if auditor.company is not empty %}, {{auditor.company}}{% endif %} a répondu favorablement à votre demande de visite, et vous contactera prochainement, pour organiser une visite de votre maison.

Impatient.e? Vous pouvez également faire le premier pas en le contactant au {{auditor.phone}} ou via {{auditor.email}}


A bientôt,
L’équipe P2E

--
Le Passeport Efficacité Energétique est un dispositif mis en place par l’association Expérience P2E pour accompagner les particuliers dans la définition de leur projet de rénovation énergétique à l’aide d’une feuille de route de travaux.
Ce message électronique est généré automatiquement, merci de ne pas y répondre. Pour toute question, utilisez l’adresse contact@passeport-efficacite-energetique.org

Expérience P2E, association de loi 1901 – 16-18 rue de Budapest, 75009 Paris – https://www.experience-p2e.org