<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>P2E API Documentation</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.20.8/swagger-ui.css">

</head>

<body>

    <div id="swagger-doc-div"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.20.8/swagger-ui-standalone-preset.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.20.8/swagger-ui-bundle.js"></script>

    <script>
        window.onload = function () {
            const CaseInsensitiveFilterPlugin = function (system) {
                return {
                    fn: {
                        opsFilter: (taggedOps, phrase) => {
                            return taggedOps.filter((tagObj, tag) => tag.toLowerCase().indexOf(phrase.toLowerCase()) !== -1);
                        }
                    }
                }
            };
            // Build a system
            const ui = SwaggerUIBundle({
                spec: "{{OAS_p2e}}",
                dom_id: '#swagger-doc-div',
                deepLinking: true,
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset
                ],
                plugins: [
                    CaseInsensitiveFilterPlugin
                ],
                layout: "BaseLayout",
                filter: true,
                tagsSorter: (a, b) => { //Custom sort function in order to have all tags beginning with '@' at the end
                    if (
                        (a.charAt(0) !== '@' && b.charAt(0) !== '@')
                        || (a.charAt(0) === '@' && b.charAt(0) === '@')
                    ) {
                        return a < b ? -1 : 1
                    } else {
                        return a.charAt(0) === '@' ? 1 : -1
                    }
                }
            })
            window.ui = ui
        }
    </script>
</body>

</html>